name: Rust CI/CD

on:
  push:
    branches: ["main"]
    tags:
      - '*'
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/main'  # Only on main branch pushes
    if: startsWith(github.ref, 'refs/tags/')  # Only on tag pushes

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build debug
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')  # Only on tag pushes
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build release
        run: cargo build --release

      - name: Run tests
        run: cargo test --verbose

      - name: Upload release artifact
        uses: actions/upload-artifact@v5
        with:
          name: rust-release
          path: target/release/
